[submodule "task1/test/mrjp_instant_gen"]
	path = task1/test/mrjp_instant_gen
	url = git@github.com:bdamian/mrjp_instant_gen.git
[submodule "latte"]
	path = latte
	url = git@github.com:starsep/latte.git
